<ion-header>
  <ion-toolbar color="success" style="--background: green; --color: white; text-align: center;">
    <ion-title color="dark" style="font-weight: bold;">
      Gestión de Productos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-3">
        <input type="text" class="form-control" placeholder="Filtrar por Producto" [(ngModel)]="filtroProducto">
      </div>
      <div class="col-md-6 mb-3">
        <input type="text" class="form-control" placeholder="Filtrar por Unidad" [(ngModel)]="filtroUnidad">
      </div>
    </div>
    <button class="btn btn-lg mb-3" (click)="nuevoProducto()">Agregar Nuevo Producto</button>
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Presupuesto</th>
            <th>Unidad</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Valor Unitario</th>
            <th>Valor Total</th>
            <th>Fecha de Adquisición</th>
            <th>Proveedor</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of productos | filtro:filtroProducto:filtroUnidad">
            <td>{{ producto.presupuesto }}</td>
            <td>{{ producto.unidad }}</td>
            <td>{{ producto.descripcion }}</td>
            <td>{{ producto.cantidad }}</td>
            <td>$ {{ producto.valorUnitario }}</td>
            <td>$ {{ producto.cantidad * producto.valorUnitario }}</td>
            <td>{{ producto.fechaAdquisicion }}</td>
            <td>{{ producto.proveedor }}</td>
            <td>
              <button class="btn btn-outline-info btn-sm" (click)="editarProducto(producto)">Editar</button>
              <button class="btn btn-outline-danger btn-sm" (click)="eliminarProducto(producto)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <DIv>
    <BR>
                          <BR>
                            <BR>

  <ion-footer>
        <ion-title class="footer-text">
        © SAMUEL SARMIENTO - DAYANA ROJAS
      </ion-title>
  </ion-footer>
</DIv>
</ion-content>
