

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #040404;
  margin: 0;
}

#container a {
  text-decoration: none;
}


.footer-text {
  color: rgb(75, 74, 74);
  font-size: 0;
  text-align: center;
}

ion-content {
  --background: url('/assets/IMG/fondo.jpg') no-repeat center center / cover;
}